/* ТЕЛЕФОН */
@media only screen and (max-width: 320px) {
    * {
        font-size: 10px;
    }

    .fz-80-px {
        font-size: 2.5rem;
    }

    .home-section.section-first, .catalog-section.section-first {
        background-position-x: -840px;
    }
}