/* ТЕЛЕФОН */
@media screen and (max-width: 414px) {
    * {
        font-size: 12px;
    }

    .header {
        min-height: 80px;
        padding: 0 15px;
    }

    .header-logo-img {
        width: 120px;
    }

    .hamburger__text {
        display: none;
    }

    .hamburger__icon, .hamburger__icon:before, .hamburger__icon:after {
        width: 100% !important;
        height: 2px !important;
    }

    .hamburger {
        right: 1.5rem;
        width: 63px !important;
        height: 60px !important;
    }

    .home-section.section-second, .pr-296-px {
        padding-right: 15px;
        margin-bottom: 60px;
    }

    .fz-4-5-rem {
        font-size: 2.8rem;
    }

    .swiper-item {
        width: 25rem;
        height: 35rem;
    }

    .swiper-header-nav {
        width: 35%;
    }

    .contacts-section.section-first {
        margin-bottom: 23rem;
    }

    #contactUs-img {
        width: 90%;
        margin-bottom: 35px;
    }
}