

* {
    margin: 0;
    padding: 0;
    font-family: 'RalewayRegular', serif;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /*margin-right: calc(-1 * (100vw - 100%));*/
}

a {
    color: black;
    text-decoration: none;
}

img {
    pointer-events: none;
}

.flex-default-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-default-fs-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.color-white {
    color: #F8F8F8;
}

.color-red {
    color: #C72D37;
}

.fz-1-5-rem {
    font-size: 1.5rem;
}

.fz-10-px {
    font-size: 0.7rem;
}

.fz-20-px {
    font-size: 1.111rem;
}

.fz-1-3-rem {
    font-size: 1.3rem;
}

.fz-4-rem {
    font-size: 4rem;
}

.fz-4-5-rem {
    font-size: 4.5rem;
}

.fz-36-px {
    font-size: 1.7rem;
}

.fz-40-px {
    font-size: 2.2rem;
}

.fz-80-px {
    font-size: 4.5rem;
}

.fz-90-px {
    font-size: 5rem;
}

.fz-128-px {
    font-size: 7rem;
}

.pl-296-px {
    padding-left: 16.5rem;
}

.font-arolse-serif {
    font-family: 'ArolseSerif', serif;
}

.font-arolse-serif-special {
    font-feature-settings: 'case'on, 'ordn'on, 'salt'on;
}

.font-arolse-script {
    font-family: 'ArolseScript', serif;
}

.font-raleway-light {
    font-family: 'RalewayLight', serif;
}

.font-raleway-extralight {
    font-family: 'RalewayExtraLight', serif;
}

.font-raleway-semibold {
    font-family: 'RalewaySemiBold', serif;
}

.btn {
    padding: 1.5rem 2.8rem;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border: none;
    outline: none;
}

.btn-white-textred:hover .svg-arrow-i {
    margin-left: 2rem;
    fill: #F8F8F8;
}

.btn .svg-arrow-i {
    margin-left: 1.5rem;
    transition: all 0.3s;
}

.btn-white-textred {
    background-color: #F8F8F8;
    color: #C72D37;
}

.btn-white-textred:hover {
    background: #C72D37;
    color: #F8F8F8;
}

.btn-white-textred:active {
    background: linear-gradient(91.54deg, #C52E38 -5.97%, #A4262F 73.35%, #821F25 156.04%);
}

.btn-white-textred .svg-arrow-i {
    fill: #C72D37;
}

.btn-red-textwhite {
    background: linear-gradient(96.71deg, #C12C36 13.04%, #AA262F 82.41%);
    color: #F8F8F8;
}

.btn-red-textwhite .svg-arrow-i {
    fill: #F8F8F8;
}

.btn-red-textwhite:hover {
    background: linear-gradient(96.68deg, #AA262F 13.14%, #69191E 107.13%);
}

.btn-red-textwhite:active {
    background: #68141A;
}

.btn-text-bold {
    font-family: 'RalewayBold', serif;
}

.beauty-text-words {
    text-align: right;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.beauty-text-words::before {
    content: ' ';
    display: inline-block;
    width: 135px;
    border-bottom: 1px solid #C72D37;
    margin-right: 0.5rem;
}

.text-color-red {
    color: #C72D37;
}