.header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    min-height: 120px;
    padding: 0 70px;
    position: relative;
    z-index: 100;
}

.header .for-nav {
    display: flex;
}

.header-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
    width: 100%;
}

.header-logo-img {
    width: 160px;
}

.header-tel {
    mix-blend-mode: difference;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8F8F8;
    transition: all 0.3s;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
}

.header-tel:hover {
    opacity: 0.5;
}

.header-tel-img {
    height: 45px;
    width: 45px;
    margin-right: 0.85rem;
}

.home-section.section-first {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4.444rem;
    margin-bottom: 10.777rem;
}

.home-section.section-first, .catalog-section.section-first {
    min-height: 100vh;
    background: url('../images/headerback.png') no-repeat;
    background-size: cover;
    background-color: linear-gradient(0deg, rgba(0,0,0,0.5340730042016807) 0%, rgba(0,0,0,0.20073967086834732) 50%, rgba(255,255,255,0.20073967086834732) 100%);
}

.section-first-text {
    margin-bottom: 1rem;
}

.section-first-text-big {
    margin-bottom: 2.777rem;
}

.home-section.section-second {
    padding-right: 8.8rem;
    margin-bottom: 1.7rem;
}

.section-second-text {
    line-height: 120%;
}

.section-second-text-gradient {
    background: linear-gradient(97.42deg, #D33C46 -1.38%, #832026 44.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-section.section-third {
    margin-bottom: 12.7rem;
}

.section-third-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    list-style: none;
    margin-bottom: 11.7rem;
}

.accordion-el {
    cursor: pointer;
    margin-bottom: 2.2rem;
}

.accordion-title {
    color: #808080;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.7s;
}

.accordion-active .accordion-title {
    color: #1E1E1E;
}

.accordion-title:hover {
    color: #C72D37;
}

.accordion-title:active {
    color: #C72D37;
}

.accordion-answer {
    margin-top: 16px;
}

.accordion-title::after {
    content: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1032 0.386839L10.604 8.05881L2.10492 0.386839C1.95307 0.249489 1.74923 0.172595 1.53696 0.172595C1.32469 0.172595 1.12084 0.249489 0.968987 0.386839C0.895461 0.45355 0.837049 0.533176 0.797172 0.621054C0.757295 0.708933 0.736755 0.803297 0.736755 0.898618C0.736755 0.99394 0.757295 1.0883 0.797172 1.17618C0.837049 1.26406 0.895461 1.34369 0.968987 1.4104L10.0106 9.57368C10.1694 9.717 10.3823 9.79721 10.604 9.79721C10.8258 9.79721 11.0387 9.717 11.1975 9.57368L20.2391 1.41197C20.3132 1.34521 20.372 1.26539 20.4122 1.17722C20.4524 1.08905 20.4731 0.994319 20.4731 0.898618C20.4731 0.802917 20.4524 0.708186 20.4122 0.620016C20.372 0.531846 20.3132 0.452025 20.2391 0.385263C20.0873 0.247914 19.8834 0.171021 19.6711 0.171021C19.4589 0.171021 19.255 0.247914 19.1032 0.385263V0.386839Z' fill='%23C72D37'/%3E%3C/svg%3E");
    margin-left: 1.3rem;
    margin-top: -5px;
    transition: all 0.3s;
    z-index: 0;
}

.accordion-active .accordion-title::after {
    transform: rotate(-180deg);
    margin-top: 5px;
}

.accordion-active .accordion-title::before {
    content: '';
    display: inline-block;
    margin-right: 1.1rem;
    width: 77px;
    border-top: 1px solid #1E1E1E;
}

.home-section.section-fourth {
    margin-bottom: 4.5rem;
}

.swiper-header {
    padding-right: 8.8rem;
    margin-bottom: 4.5rem;
}

.swiper-header-title {
    color: #1E1E1E;
}

.swiper-header-nav {
    width: 15%;
}

.swiper-header-nav-left, .swiper-header-nav-right {
    cursor: pointer;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    border: 1px solid #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-header-nav-left:hover, .swiper-header-nav-right:hover {
    border: 1px solid #1E1E1E;
}

.swiper-header-nav-left:hover .swiper-header-nav-arrow {
    fill: #1E1E1E;
}.swiper-header-nav-right:hover .swiper-header-nav-arrow {
    fill: #1E1E1E;
}

.swiper-header-nav-arrow {
    fill: #B8B8B8;
}

.swiper-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 22rem;
    height: 30rem;
    background-color: grey;
}

.swiper-item-cover {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.20073967086834732) 50%, rgba(255,255,255,0) 100%);
    padding: 0 35px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.swiper-item-title {
    margin-bottom: 0.4rem;
}

.swiper-tags {
    position: absolute;
    top: 0;
    left: 35px;
    display: none;
    align-items: flex-start;
}

.swiper-item-link {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #C72D37;
    border-radius: 50%;
    height: 2.7rem;
    width: 2.7rem;
    padding: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

.swiper-item-link img {
    height: 90%;
}

.swiper-item-link:hover {
    background: linear-gradient(96.68deg, #AA262F 13.14%, #69191E 107.13%);
}

.swiper-item:hover .swiper-item-link {
    display: flex;
}

.active .swiper-tags {
    display: flex;
}

.swiper-tags img {
    width: 30px;
    transform: rotate(0deg);
}

.swiper-tags img:first-child {
    margin-right: 0.5rem;
}

.swiper-item-nonvision {
    display: none;
    margin-top: 1.8rem;
}

.swiper-item:hover .swiper-item-nonvision {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.swiper-item-nonvision-top {
    display: flex;
    align-items: flex-start;
}

.swiper-item-nonvision-text {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 0.7rem;
}

.swiper-item-nonvision-text:last-child {
    margin-right: 0;
}

.swiper-item-nonvision-text img {
    height: 22px;
    margin-right: 5px;
}

.swiper-item-nonvision-bottom {
    color: #FFFFFF;
    margin-top: 1rem;
}

.home-section.section-fifth {
    display: flex;
    margin-bottom: 7.4rem;
}

.home-section.section-fifth .section-fifth-block {
    align-self: center;
    margin: 0 2rem;
}

.home-section.section-fifth img {
    width: 14.5rem;
    height: 45rem;
}

.home-section.section-fifth img:first-child {
    align-self: flex-start;
}.home-section.section-fifth img:last-child {
    align-self: flex-end;
}

.contactUs {
    background: linear-gradient(92.26deg, #C52E38 4.87%, #821F25 92.61%);
    padding: 0 3.3rem;
    display: flex;
    justify-content: center;
}

#contactUs-img {
    height: 55rem;
}

.contactUs-right {
    align-self: center;
    margin-left: 5rem;
}

.contactUs-top {
    margin-bottom: 2.9rem;
}

.contactUs-title {
    margin-bottom: 1.4rem;
}

.contactUs-form .contactUs-form-input-block {
    position: relative;
    margin-bottom: 1.3rem;
}

.contactUs-form .contactUs-form-input-block:last-child {
    margin-bottom: 0;
}

.contactUs-form-label {
    position: absolute;
    top: 0;
    font-size: 1rem;
    padding: 1.6rem 1.3rem;
    -webkit-transition: top .2s ease-in-out,
    font-size .2s ease-in-out;
    transition: top .2s ease-in-out,
    font-size .2s ease-in-out;
    color: #F8F8F8;
}

.contactUs-form-label-active {
    top: -20px;
    font-size: 0.6rem;
}

.contactUs-form-input {
    color: #F8F8F8;
    width: 100%;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 1.6rem 1.3rem;
    border: 1px solid rgba(248, 248, 248, 0.5);
}

.contactUs .contactUs-form-btn-place {
    margin-top: 3.5rem;
}

.contactUs-form-term {
    color: #F8F8F8;
    font-size: 0.7rem;
    opacity: 0.7;
    margin-bottom: 1.3rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.map {
    height: 25.5rem;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right {
    display: none;
}

.map-popup .mapboxgl-popup-content {
    padding: 1.1rem 1.6rem;
    border-radius: 0;
}

.mapboxgl-marker.mapboxgl-marker-anchor-center {
    cursor: pointer;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    display: none;
}

.mapboxgl-popup-content .mapboxgl-popup-close-button {
    right: 5px;
}

.map .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor: unset;
}

.map .mapboxgl-canvas-container.mapboxgl-interactive:active {
    cursor: unset;
}

.map-info-title {
    font-size: 1.33rem;
    line-height: 140%;
    margin-bottom: 0.388rem;
}

.map-info-address,
.map-info-time,
.map-tel {
    font-family: 'RalewayLight', serif;
}

.map-info-address,
.map-info-time {
    margin-bottom: 1.444em;
    line-height: 140%;
}

.map-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-tel {
    display: flex;
    align-items: center;
}

.map-tel:hover {
    opacity: 0.8;
}

.map-tel svg {
    margin-right: 0.777rem;
}

.map-socials,
.mainFooter-socials {
    display: flex;
    align-items: center;
}

.map-socials-link,
.mainFooter-socials-link {
    margin-right: 16px;
}

.map-socials-link:hover,
.mainFooter-socials-link:hover {
    opacity: 0.8;
}

.map-socials-link:last-of-type,
.mainFooter-socials-link:last-of-type {
    margin-right: 0;
}

.footer {
    background-color: #1E1E1E;
    padding: 6.8rem 16.5rem 3.7rem 16.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 6rem;
}

.footer-head .footer-head-socials {
    justify-self: start;
}

.footer-head-social:nth-child(2n) {
    margin: 0 0.9rem;
}

.footer-head .footer-head-btn {
    justify-self: end;
}

.footer-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
    margin-bottom: 6rem;
}

.footer-tel .footer-tel-btn {
    display: none;
    margin-top: 1.3rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2.1rem;
}

.footer-nav-link {
    font-family: 'RalewaySemiBold', serif;
    color: #F8F8F8;
    transition: all 0.3s;
}

.footer-nav-link:hover {
    opacity: 0.8;
}

.footer-nav-blockInblock {
    margin-top: 1.333rem;
    display: flex;
    flex-direction: column;
}

.footer-nav-link-mini {
    font-family: 'RalewayLight', serif;
    color: #F8F8F8;
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
}

.footer-foot {
    display: flex;
    flex-direction: column;
}

.footer-foot-link {
    font-family: 'RalewayLight', serif;
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
    color: #F8F8F8;
}

.footer-foot-year {
    font-family: 'RalewayLight', serif;
    font-size: 0.7rem;
    color: #F8F8F8;
}

.header-page {
    padding: 12.2rem 16.5rem 0 16.5rem;
}

.header-page-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5.5rem;
}

.about-header-page .header-page-bottom {
    display: flex;
    justify-content: center;
}

.about-section.section-first {
    margin-top: 2.2rem;
    margin-bottom: 16.7rem;
}

.header-page-link {
    display: flex;
    align-items: flex-start;
}

.header-page-link p:first-child {
    margin-right: 1rem;
}

.header-page-link p:last-child, .header-page-text {
    line-height: 1.6rem;
}

.header-page-text {
    width: 35%;
}

.about-section.section-second {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16.8rem;
}

.about-leftside, .about-rightside, .about-fourth-left, .about-fourth-right {
    width: 47%;
}

.about-leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-leftside-img {
    width: 100%;
    margin-bottom: 2.7rem;
}

.about-leftside-text {
    width: 55%;
    align-self: flex-end;
}

.about-rightside-script {
    margin-bottom: 4.6rem;
}

.about-rightside-title {
    margin-bottom: 1.7rem;
}

.about-rightside-text, .about-leftside-text {
    line-height: 150%;
    margin-bottom: 2.7rem;
}

.about-rightside-img {
    width: 35%;
}

.about-section.section-third {
    margin-bottom: 12.6rem;
}

.about-swiper-header {
    display: flex;
    align-items: center;
    margin-bottom: 4.4rem;
}

.about-swiper-title {
    font-weight: 400;
    margin-right: 9.1rem;
}

.about-swiper-header-nav {
    width: 13%;
}

.about-swiper-item {
    width: 19rem;
}

.about-swiper-item-img {
    width: 100%;
    margin-bottom: 1.8rem;
}

.about-swiper-item-name {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.about-swiper-item-descr {
    color: #787878;
}

.about-section.section-fourth {
    margin-bottom: 8.7rem;
}

.about-section.section-fourth .about-fourth-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-section.section-fourth .about-fourth-title {
    margin-bottom: 5.2rem;
}

.about-fourth-menu {
    margin-bottom: 6.3rem;
}

.about-fourth-menu-item {
    font-weight: 400;
    text-transform: uppercase;
    color: #1E1E1E;
    font-size: 1.45rem;
    opacity: 0.2;
    transition: all 0.3s;
    font-family: 'RalewayLight', serif;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.about-fourth-menu-item:last-child {
    margin-bottom: 0;
}

.about-fourth-menu-item-active {
    opacity: 1;
    font-family: 'RalewayBold', serif;
}

.about-fourth-img {
    width: 100%;
}

.about-fourth-info {
    list-style: none;
}

.about-fourth-info-item {
    display: none;
}

.about-fourth-info-item p, .about-fourth-li {
    margin-bottom: 0.9rem;
    line-height: 140%;
    text-align: justify;
}

.about-fourth-info-item p:last-child, .about-fourth-li:last-child {
    margin-bottom: 0;
}

.about-fourth-info-active {
    display: block;
}

.about-fourth-ul {
    margin-bottom: 2.2rem;
}

.about-fourth-li, .services-details-item {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}

.about-fourth-li div, .services-details-item div {
    display: block;
    width: 10%;
    border-bottom: 1px solid #C72D37;
    margin-top: 0.7rem;
    margin-right: 1rem;
}

.about-fourth-li p, .services-details-item p {
    width: 89%;
}

.about-section.section-fifth {
    background: linear-gradient(87.85deg, #C52E38 8.19%, #821F25 113.98%);
    padding-top: 11.9rem;
    padding-bottom: 15.8rem;
}

.about-services-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6.3rem;
}

.about-services-title {
    font-weight: 400;
    margin-right: 7.1rem;
}

.about-services-services {
    margin-bottom: 7.5rem;
}

.about-services-first {
    margin-bottom: 9.7rem;
}

.about-services-first, .about-services-second {
    display: flex;
    justify-content: space-between;
}

.about-services-left, .about-services-right {
    width: 49%;
}

.about-services-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-services-item {
    font-size: 1.3rem;
    color: #F8F8F8;
    padding-bottom: 1.1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1.1rem;
    line-height: 140%;
}

.about-services-item:last-child {
    margin-bottom: 0;
}

.about-services-second .about-services-subtitle {
    align-self: flex-end;
}

.about-services-h2 {
    margin-bottom: 2.5rem;
}

.about-services-h2, .about-services-h2 span {
    font-family: 'RalewayLight', serif;
    color: #F8F8F8;
    font-size: 1.7rem;
    line-height: 140%;
    text-transform: uppercase;
}

.about-services-h2 span {
    font-family: 'RalewayBold', serif;
}

.about-section .contactUs {
    background: none;
}

.about-section .contactUs img {
    margin-top: 0;
}

.header-page-module {
    width: 26rem;
    margin-bottom: -20rem;
    margin-top: -13rem;
}

.services-header-page {
    margin-bottom: 2.6rem;
}

.services-section.section-first {
    padding-left: 21.5rem;
    margin-bottom: 11.2rem;
}

.services-section-greeting {
    font-size: 1.6rem;
    line-height: 140%;
}

.services-section.section-second {
    margin-bottom: 43rem;
    padding-left: 8.8rem;
}

.services-details {
    border-bottom: 1px solid #808080;
}

.services-details:first-child {
    border-top: 1px solid #808080;
}

.services-details-summary {
    padding: 2.7rem 2.5rem 2.7rem 4.7rem;
    list-style: none;
    display: flex;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-details-summary::after {
    content: url("data:image/svg+xml,%3Csvg width='4.5rem' height='28' viewBox='0 0 94 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.267 0.698434L77.5241 3.39389L86.2794 12.3228L0.133397 11.571L0.099737 15.428L86.2457 16.1798L77.3167 24.9543L80.0314 27.6974L93.6487 14.3157L80.267 0.698434Z' fill='%23C72D37'/%3E%3C/svg%3E");
    margin-left: 1rem;
    transition: all 0.3s;
}

.services-details[open] > .services-details-summary::after {
    content: url("data:image/svg+xml,%3Csvg width='2.5rem' height='2.5rem' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='10.6055' y='34.6482' width='34' height='4' transform='rotate(-45 10.6055 34.6482)' fill='%23C72D37'/%3E%3Crect x='34.6484' y='37.4766' width='34' height='4' transform='rotate(-135 34.6484 37.4766)' fill='%23C72D37'/%3E%3C/svg%3E%0A");
}

.services-details-summary-p {
    width: 90%;
}

.summary-span, .services-details-summary-p {
    font-size: 2.6rem;
    color: #808080;
    font-family: 'ArolseSerif', serif;
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on;
}

.summary-span {
    transition: all 0.3s;
    width: 8%;
    margin-right: 4rem;
}

.services-details[open] .services-details-summary-p, .services-details[open] .summary-span {
    color: #1E1E1E;
}

.services-details-body {
    padding-left: 20rem;
    margin-top: 2.4rem;
    padding-bottom: 7.2rem;
}

.services-details-text, .services-details-item {
    color: #1E1E1E;
    line-height: 140%;
    margin-bottom: 1.2rem;
}

.services-details-item div {
    width: 5%;
}

.services-details-item p {
    width: 95%;
}

.services-details-title {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.contacts-header-page {
    height: 100vh;
    background-color: #1E1E1E;
    position: relative;
    padding-right: 3.8rem;
}

.contacts-header-page .contacts-map {
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.contacts-header-page .header-page-link {
    position: relative;
    z-index: 1;
}

.contacts-block {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contacts-line {
    min-width: 30%;
    max-width: 32%;
    position: relative;
    z-index: 1;
    height: 100%;
    background-color: #fff;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    overflow: auto;
}

.contacts-line-title {
    margin-bottom: 1.4rem;
}

.contacts-line-head {
    margin-bottom: 3.5rem;
}

.contacts-line-works {
    margin-bottom: 3rem;
}

.contacts-line-subtitle {
    text-transform: uppercase;
    line-height: 140%;
    margin-bottom: 1rem;
}

.contacts-line-time {
    line-height: 140%;
}

.contacts-line-det {
    margin-bottom: 4rem;
}

.contacts-line-det summary {
    list-style: none;
    line-height: 140%;
    color: #1E1E1E;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contacts-line-det summary::after {
    content: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1032 0.386839L10.604 8.05881L2.10492 0.386839C1.95307 0.249489 1.74923 0.172595 1.53696 0.172595C1.32469 0.172595 1.12084 0.249489 0.968987 0.386839C0.895461 0.45355 0.837049 0.533176 0.797172 0.621054C0.757295 0.708933 0.736755 0.803297 0.736755 0.898618C0.736755 0.99394 0.757295 1.0883 0.797172 1.17618C0.837049 1.26406 0.895461 1.34369 0.968987 1.4104L10.0106 9.57368C10.1694 9.717 10.3823 9.79721 10.604 9.79721C10.8258 9.79721 11.0387 9.717 11.1975 9.57368L20.2391 1.41197C20.3132 1.34521 20.372 1.26539 20.4122 1.17722C20.4524 1.08905 20.4731 0.994319 20.4731 0.898618C20.4731 0.802917 20.4524 0.708186 20.4122 0.620016C20.372 0.531846 20.3132 0.452025 20.2391 0.385263C20.0873 0.247914 19.8834 0.171021 19.6711 0.171021C19.4589 0.171021 19.255 0.247914 19.1032 0.385263V0.386839Z' fill='%23C72D37'/%3E%3C/svg%3E");
    margin-left: 1rem;
    transition: all 0.3s;
}

.contacts-line-det[open] summary::after {
    transform: rotate(180deg);
}

.contacts-section.section-first {
    margin-top: 10rem;
    padding-right: 9.5rem;
    margin-bottom: 30rem;
}

.contacts-line-det-body {
    padding-top: 2rem;
    list-style-type: none;
}

.contacts-line-det-item {
    margin-bottom: 1rem;
}

.contacts-line-det-item div {
    width: 10%;
}

.contacts-line-det-item p {
    width: 89%;
}

.contacts-line-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-section.section-first {
    padding-top: 10.6rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10.6rem;
    padding-bottom: 1.5rem;
}

.catalog-section .section-first-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.catalog-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-btn-filter {
    align-self: center;
}

.section-first-bottom-title {
    font-size: 1.3rem;
    margin-bottom: 1.7rem;
    text-align: center;
}

.catalog-btn-filter {
    margin-top: 4.4rem;
}

.catalog-filter-titles {
    display: flex;
    z-index: 2;
    position: relative;
}

.catalog-filter-accord:first-child {
    border-radius: 40px 0px 0px 40px;
}

.catalog-filter-accord:nth-child(2) {
    border-left: 1px solid #C72D37;
    border-right: 1px solid #C72D37;
}

.catalog-filter-accord:last-child {
    border-radius: 0px 40px 40px 0px;
}

.catalog-filter-accord {
    width: 100%;
    background-color: #fff;
    color: #1E1E1E;
    font-size: 1rem;
    padding: 1.6rem 1rem 1.6rem 2.2rem;
    cursor: pointer;
}

.catalog-filter-block {
    padding: 1rem 2rem;
    padding-top: 3rem;
    align-self: stretch;
    background: linear-gradient(110.26deg, #C52E38 -0.31%, #A4262F 36.2%, #821F25 74.27%);
    border-radius: 0px 0px 40px 40px;
    margin-top: -2rem;
    z-index: 1;
    display: flex;
}

.filter-checkbox {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 10px 12px;
    border: 2px solid #F8F8F8;
    border-radius: 31px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #F8F8F8;
    margin-right: 0.5rem;
    cursor: pointer;
}

.checked .filter-checkbox {
    background-color: #fff;
}

#price_block {
    display: block;
}