.header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    min-height: 120px;
    padding: 0 70px;
}

.header-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-logo-img {
    width: 195px;
    height: 58px;
}

.header-tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F8F8F8;
    transition: all 0.3s;
    font-variant-numeric: proportional-nums;
    -moz-font-feature-settings: "pnum";
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
}

.header-tel:hover {
    opacity: 0.5;
}

.header-tel-img {
    height: 45px;
    width: 45px;
    margin-right: 0.85rem;
}

.section-first {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url('../images/headerback.png') no-repeat;
    background-size: cover;
    padding-bottom: 4.444rem;
    margin-bottom: 10.777rem;
}

.section-first-text {
    margin-bottom: 1rem;
}

.section-first-text-big {
    margin-bottom: 2.777rem;
}

.section-second {
    padding-right: 8.8rem;
    margin-bottom: 1.7rem;
}

.section-second-author {
    text-align: right;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-second-author::before {
    content: ' ';
    display: inline-block;
    width: 135px;
    border: 1px solid #C72D37;
    margin-right: 0.5rem;
}

.section-second-text {
    line-height: 120%;
}

.section-second-text-gradient {
    background: linear-gradient(97.42deg, #D33C46 -1.38%, #832026 44.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.section-third {
    margin-bottom: 12.7rem;
}

.section-third-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    list-style: none;
    margin-bottom: 11.7rem;
}

.accordion-el {
    cursor: pointer;
    margin-bottom: 2.2rem;
}

.accordion-title {
    color: #808080;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.7s;
}

.accordion-title:hover {
    color: #C72D37;
}

.accordion-answer {
    margin-top: 16px;
}

.accordion-active .accordion-title {
    color: #1E1E1E;
}

.accordion-title::after {
    content: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1032 0.386839L10.604 8.05881L2.10492 0.386839C1.95307 0.249489 1.74923 0.172595 1.53696 0.172595C1.32469 0.172595 1.12084 0.249489 0.968987 0.386839C0.895461 0.45355 0.837049 0.533176 0.797172 0.621054C0.757295 0.708933 0.736755 0.803297 0.736755 0.898618C0.736755 0.99394 0.757295 1.0883 0.797172 1.17618C0.837049 1.26406 0.895461 1.34369 0.968987 1.4104L10.0106 9.57368C10.1694 9.717 10.3823 9.79721 10.604 9.79721C10.8258 9.79721 11.0387 9.717 11.1975 9.57368L20.2391 1.41197C20.3132 1.34521 20.372 1.26539 20.4122 1.17722C20.4524 1.08905 20.4731 0.994319 20.4731 0.898618C20.4731 0.802917 20.4524 0.708186 20.4122 0.620016C20.372 0.531846 20.3132 0.452025 20.2391 0.385263C20.0873 0.247914 19.8834 0.171021 19.6711 0.171021C19.4589 0.171021 19.255 0.247914 19.1032 0.385263V0.386839Z' fill='%23C72D37'/%3E%3C/svg%3E");
    margin-left: 1.3rem;
    margin-top: -5px;
    transition: all 0.3s;
    z-index: 0;
}

.accordion-active .accordion-title::after {
    transform: rotate(-180deg);
    margin-top: 5px;
}

.accordion-active .accordion-title::before {
    content: '';
    display: inline-block;
    margin-right: 1.1rem;
    width: 77px;
    border-top: 1px solid #1E1E1E;
}

.section-fourth {
    margin-bottom: 4.5rem;
}

.swiper-header {
    padding-right: 8.8rem;
    margin-bottom: 4.5rem;
}

.swiper-header-title {
    color: #1E1E1E;
}

.swiper-header-nav {
    width: 15%;
}

.swiper-header-nav-left, .swiper-header-nav-right {
    cursor: pointer;
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    border: 1px solid #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-header-nav-left:hover, .swiper-header-nav-right:hover {
    border: 1px solid #1E1E1E;
}

.swiper-header-nav-left:hover .swiper-header-nav-arrow {
    fill: #1E1E1E;
}.swiper-header-nav-right:hover .swiper-header-nav-arrow {
    fill: #1E1E1E;
}

.swiper-header-nav-arrow {
    fill: #B8B8B8;
}

.swiper-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 22rem;
    height: 30rem;
    background-color: grey;
}

.swiper-item-cover {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.20073967086834732) 50%, rgba(255,255,255,0) 100%);
    padding: 0 35px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.swiper-item-title {
    margin-bottom: 0.4rem;
}

.swiper-tags {
    position: absolute;
    top: 0;
    left: 35px;
    display: none;
    align-items: flex-start;
}

.active .swiper-tags {
    display: flex;
}

.swiper-tags img {
    width: 30px;
    transform: rotate(0deg);
}

.swiper-tags img:first-child {
    margin-right: 0.5rem;
}

/* НОУТБУК */
@media screen and (max-width: 1550px) {

}

/* ПЛАНШЕТ */
@media screen and (max-width: 1024px) {

}

/* ПЛАНШЕТ */
@media screen and (max-width: 768px) {

}

/* ТЕЛЕФОН */
@media screen and (max-width: 736px) {

}

/* ТЕЛЕФОН */
@media screen and (max-width: 667px) {

}

/* ТЕЛЕФОН */
@media screen and (max-width: 414px) {

}

/* ТЕЛЕФОН */
@media screen and (max-width: 375px) {

}

/* ТЕЛЕФОН */
@media screen and (max-width: 320px) {

}